@import "../css-config/mixins.scss";

.drone-modal-container {
  width: 100%;
  
  padding: 0;

  .close {
    width: 100%;
    p {
      margin: 0;
      text-align: right;
      svg{

          cursor: pointer;
      }
    }
  }
  .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    @include md{
        flex-direction: row;
    }
    .details{
        width: 100%;
        @include md{
            width: 45%;  
        }

        h2{
            text-align: center;
            text-decoration: underline;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            box-shadow: 5px 4px 10px grey;
            th,td {
                border: 1px solid #464646;
                padding: 8px;
                text-align: left;
            }
    //         th{
    //             background: #5cfff185;
    //         }
    //         td{
    //             background: #808080b3;
    // color: black;
    // font-weight: 600;
    //         }
        }
        
    }
    .maintenance{
        width: 100%;
        @include md{
            width: 45%;  
        }
        h2{
            text-align: center;
            text-decoration: underline;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            box-shadow: 5px 4px 10px grey;
            th,td {
                border: 1px solid #464646;
                padding: 8px;
                text-align: left;
            }
    //         th{
    //             background: #5cfff185;
    //         }
    //         td{
    //             background: #808080b3;
    // color: black;
    // font-weight: 600;
    //         }
        }
    }
  }
}
